.pagination {
  display: flex;
  justify-content: space-between;
  padding-bottom: 44px;

  @media (min-width: @tablet-width) {
    justify-content: right;
  }
}

.pagination__button span {
  @media (max-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    .font-main(400, 14px, 24px);
    color: #7859cf;
  }
}

.pagination__button {
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  background: @base-white url("../../img/pagination-arrow.svg") no-repeat center;

  @media (max-width: @mobile-width-only) {
    &--next {
      rotate: 180deg;
    }
  }

  @media (min-width: @tablet-width) {
    width: 150px;
    height: 40px;
    background-image: none;
    .font-main(400, 14px, 24px);
    color: #7859cf;
  }
}

.pagination__page {
  display: block;
  box-sizing: border-box;
  padding: 8px;
  width: 40px;
  height: 40px;
  background-color: @base-white;
  text-align: center;
  .font-main(400, 16px, 24px);
  color: #7859cf;

  &--active {
    font-weight: 600;
    background-color: #f8f8f8;
    color: #333333;
  }

  @media (min-width: @tablet-width) {
    &--active {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}
