.sort {
  display: flex;
  justify-content: space-between;
}

.sort__header {
  .font-main(600, 16px, 24px);
}

.sort__select {
  border: none;
  background: none;
  .font-main(600, 16px, 24px);
  color: #7859cf;
}
